
/* Custom*/

/*this removes the title on the page*/
.quarto-title > h1.title {
  opacity: 0 !important;
}

.btn-landing {
  background-color: #b20f11;
  border-color: #b20f11;
  font-size: 5vw;
  border-radius: 5vw;
  margin: 5px;
  width:100%
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active, .accordion-button:hover, .accordion-button:not(.collapsed) {
    color: #fff;
    background-color: #780b0c
}


.accordion-btn-custom {
  background-color: #b20f11;
  display:block;
  font-size: 2.5vw;
  color: #fff;
  
}

